*{

    margin: 0;
    box-sizing: border-box;
}

/* globais */
body{
    font-family: arial;
    height: 100%;

    
}
header{
    padding: 1%;
    background-color: #0FCE68;
    margin:0;
    display: flex;
    justify-content: center;
	position:fixed;
    width:100%;
    top: 0;
}
header button{
    color: #ffffff;
    background-color:#0FCE68; 
    width: 200px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    border: #0FCE68;

}

footer{
    padding: 1%;
    background-color: #0FCE68;
    color:#fff;
    justify-content: center;
    bottom: 0;
    position: relative;
    width: 100%;
    
}

/* classes */

/* index */

.financiamento{
    width: 50%;
    margin: 100px 25% ;
    padding-top: 50px;
    background-color: #ffffd9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: inherit;
    
}
.botao{
    display: flex;
}

.botao button{
    color: #ffffff;
    background-color:#0FCE68; 
    width: 200px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    border: #0FCE68;
    margin: 40px;
    justify-content: center;
    align-items: center;
    
}
.bt button{

    position: fixed;
    right: 20%;
}
.texto{
    margin: 0 20%;
    padding-bottom: 20px;
    width: 60%;
    
    
}
.texto img{
    margin: 20px;

}
.texto p{
    font-size: 18px;
    font-weight: bold;
}
.titulo h1{
    margin: 20px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    
}
.titulo p{
    position: absolute;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding: 20px; 
}


.prestacoes{
    width: 50%;
    margin: 100px 25% ;
    padding-top: 50px;
    background-color: #ffffd9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: inherit;
    
}

.amortizacao{
    width: 50%;
    margin: 100px 25% ;
    padding-top: 50px;
    background-color: #ffffd9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: inherit;
    
}

/* prestacao e amortizacao */

.SAC{
    width: 50%;
    margin: 100px 25% ;
    padding-top: 100px;
    background-color: #ffffd9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: inherit;
    padding-bottom: 100px;
    
}

/* tipos financionamento */

.PRICE{
    width: 50%;
    margin: 100px 25% ;
    padding-top: 50px;
    background-color: #ffffd9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: inherit;  
     
}

/* dicas */

.DICAS{
    width: 50%;
    margin: 100px 25% ;
    padding-top: 50px;
    background-color: #ffffd9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: inherit;
    padding-bottom: 50px;
}